JANE_Simulation/de/uni_trier/jane/simulation/dynamic/mobility_source/pathnet/RoomCollection.dtd

<!-- the complete room collection -->
<!ELEMENT ROOMCOLLECTION (ROOM)*>
<!ATTLIST ROOMCOLLECTION
    NAME ID #REQUIRED
>

<!-- a room -->
<!ELEMENT ROOM (DOOR)+>
<!ATTLIST ROOM
    NAME ID #REQUIRED
    WIDTH CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
    HEIGHT CDATA #REQUIRED
>

<!-- a door of a room -->
<!ELEMENT DOOR EMPTY>
<!ATTLIST DOOR
    X CDATA #REQUIRED
    Y CDATA #REQUIRED
    Z CDATA #REQUIRED
>
