JANE_Tools/de/uni_trier/jane/tools/pathneteditor/dtds/RoomCollection_v2.dtd

<!-- the complete room collection -->
<!ELEMENT ROOMCOLLECTION_V2 (ROOM)*>
<!ATTLIST ROOMCOLLECTION_V2
    NAME ID #REQUIRED
>

<!-- a room -->
<!ELEMENT ROOM (DOOR)+>
<!ATTLIST ROOM
    NAME ID #REQUIRED
	DESCRIPTION CDATA #REQUIRED
    WIDTH CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
    HEIGHT CDATA #REQUIRED
>

<!-- a door of a room -->
<!ELEMENT DOOR EMPTY>
<!ATTLIST DOOR
    X CDATA #REQUIRED
    Y CDATA #REQUIRED
    Z CDATA #REQUIRED
>
