JANE_Simulation/_output/de/uni_trier/jane/simulation/device_groups/DeviceConfiguration.dtd

<!-- the device configuration -->
<!ELEMENT DeviceConfiguration (DeviceGroup)*>

<!-- a device group -->
<!ELEMENT DeviceGroup (Device)*>
<!ATTLIST DeviceGroup
	numberOfDevices CDATA #IMPLIED
	deviceClass CDATA #REQUIRED
>

<!ELEMENT Device EMPTY>
<!ATTLIST Device
	x CDATA #REQUIRED
	y CDATA #REQUIRED
>
